name: Build README

on:
  schedule:
    - cron: "0 1 * * *"
  push:
    branches:
      - main
    paths-ignore:
      - README.md

jobs:
  fetch-recent-blog-posts:
    name: Fetch recent blog posts
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build README
        run: pnpm build

      - name: Configure Git
        run: |
          git config user.email "readme-bot@example.com"
          git config user.name "readme-bot"

      - name: Commit and push if README changed
        run: |
          if ! git diff --quiet; then
            git commit -am "[BOT] Update README"
            git push
          else
            echo "No changes to commit"
          fi
